.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: white;
  color: #000;
  padding: 24px;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.modal-footer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

h4 {
  margin-bottom: 0;
}

small {
  color: #000;
}

.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}