.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  overflow: hidden;
}

.modal-content {
  position: relative;
  background: white;
  color: #000;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}

.modal-content-inner {
  overflow: auto;
  height: 90dvh;
  padding: 24px 24px 80px 24px;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px 24px;
  border-top: 1px solid #eee;
  background-color: #fff;
}

h4 {
  margin-bottom: 0;
}

small {
  color: #000;
}

.button-group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 32px 0;
}

.level-controls {
  margin: 16px 0;
}

.class-card {
  padding: 16px;
  border: 1px solid #111;
  border-radius: 8px;
  margin-bottom: 8px;
}

.class-card h4 {
  margin-top: 0;
}

.class-card.is-active {
  background-color: #eee;
}

h5 {
  margin-bottom: 0;
}
